{% extends 'base.html' %}


{% block content %}
<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-12">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">{{question.question_text}}</h1>
        </div>

        
        {% if error_message %}
            <div class="flex flex-col text-center w-full mb-12">
                <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">{{error_message}}</h1>
            </div>
        {% endif %}
            
        <div class="flex lg:w-2/3 w-full sm:flex-row flex-col mx-auto px-8 sm:space-x-4 sm:space-y-0 space-y-4 sm:px-0 items-end">
            <div class="relative flex-grow w-full">
                <form action="{% url 'polls:vote' question.id %}" method="post">
                    {% csrf_token %}
                    
                    {% for choice in question.choice_set.all %}
                    <!-- <h1>{{choice.id}}</h1> -->
                    <!-- <h1>choice{{forloop.counter}}</h1> -->
                    <div class="block">
                    <input 
                        type="radio" 
                        name="choice"
                        id="choice{{forloop.counter}}" 
                        class="form-radio"
                        value="{{choice.id}}">

                    <label for="choice{{forloop.counter}}"  class="mb-2 uppercase font-bold text-lg text-grey-darkest">{{choice.choice_text}}</label>

                </div>
                    {% endfor %}

                <button type="submit" class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">
                    <a href="{% url 'polls:vote' question.id %}">Vote</a>
                </button>

                </form>
            </div>
            
        </div>
    </div>
</section>


{% endblock content %}
    